<div class="col-md-8">
  <img class="img-responsive" ng-src="{{product.image}}" alt="" ng-if="product.image">
</div>
<div class="col-md-4">
  <p> {{product.description}}</p>
  <p><strong>Poids:</strong> ({{product.weight}}Kg) </p>
  <p><strong>Prix:</strong> ({{product.price}}euros)</p>
  <p><strong>Catégories attachées:</strong> {{product.tag}}</p>
  
</div>


 <div class="row">

  <div class="col-lg-6 col-sm-6 text-right">
    <p>
      <a ui-sref="main" class="btn btn-default btn-lg">Retour</a>
    </p>
  </div>
</div>
</div>